{{#each reviews as |review| }}
<div class="row mb-4 blog">
    <div class="col-md-5">
        <div class="col-md-5">
            <h2>
                <a href="/review/{{review.id}}">{{review.title}}</a>
            </h2>
            <p>Created by {{review.user.username}} on {{format_date review.date_created}}</p>

        </div>
        <div class="col-md-7">
            <p>
                {{review.content}}
            </p>
        </div>
    </div>
</div>
{{/each}}