<div>
    <div class="border-4 border-black">
        <h2 class="text-4xl text-center py-5">{{title}}</h2>
        <p class="text-2xl text-center py-2">Author: {{author}}</p>
        <p class="flex justify-center">
        <img class="py-4" src="{{image}}" alt="image-description">
        </p>

        <div class="card text-center py-4">
        <p class="text-xl">{{content}}</p>
        <p>Created by {{user.username}} on {{format_date date_created}}</p>
        </div>
        <br>
        {{#if logged_in}}
        <form data-id={{id}} class="form new-comment-form">
        <div class="flex justify-center">
            <label for="textarea-comment" class="comment-label-text flex py-7 text-2xl ">Add a comment</label>
          
        </div>
        
        <div class="flex justify-center">  
            <textarea class="form-control border-2 border-black rounded-lg px-20" id="textarea-comment" placeholder="Enter text here..." rows="4">
            </textarea>
        </div>
          
        <br>
        <div class="flex justify-center py-7">
            <button id="commentSubmit" type="submit" class="btn bg-blue-500 hover:bg-blue-700 hover:scale-125 border-2 border-black text-white text-2xl font-bold py-2 px-4 rounded-full" value="submit">Submit</button>
        </div>
        </form>
        {{/if}}
    </div>    
    
    <div class="border-4 border-black">
        <h2 class="text-2xl text-center pt-6 underline">Comments</h2>
        <br>
        {{#each comments}}
        <div class='card text-2xl text-center py-8' class="comment">
        <p>{{comment_input}}</p>
        <p class="text-lg underline">By {{user.username}} on {{format_date date_created}}</p>
    
    </div>
    {{/each}}
    </div>
</div>
<br>
<div>
    <h2 class="text-2xl font-bold pt-16 px-6">Pair a wine with this book</h2>
    <br>
    {{#if logged_in}}
    <form data-id={{id}} class="form new-Wine-form px-4 text-2xl">
        <div>
            <label for="Wine-Category" class="Wine-label-text">Add a Wine Category:</label>
            <input class="form-input border-2 rounded-lg flex justify-center my-2" type="text" id="Wine-Category" name="Wine-Category">
        </div>
        <br>
        <div>
            <label for="Wine-Brand" class="Wine-label-text">Add a Wine Brand:</label>
            <input class="form-input border-2 rounded-lg flex justify-center my-2" type="text" id="Wine-Brand" name="Wine-Brand">
        </div>
        <br>
        <div>
            <label for="Wine-Type" class="Wine-label-text">Add a Wine Type:</label>
            <input class="form-input border-2 rounded-lg flex justify-center my-2" type="text" id="Wine-Type" name="Wine-Type">
        </div>
        <br>
        <div>
            <label for="Wine-Flavor" class="Wine-label-text">Add a Wine Flavor:</label>
            <input class="form-input border-2 rounded-lg flex justify-center my-2" type="text" id="Wine-Flavor" name="Wine-Flavor">
        </div>
        <br>
        <div>
            <button id="WineSubmit" type="submit" class="btn bg-blue-500 hover:bg-blue-700 hover:scale-125 border-2 border-black text-white text-2xl font-bold py-2 px-4 rounded-full ml-56" value="submit">Submit</button>
        </div>
    </form>
    <br>
    <div class="border-4 border-black text-center pt-10">
    {{/if}}
    <h2 class="text-3xl font-semibold px-6">Suggested wines</h2>
    <br>
    <div class="pt-4">
        {{#each wines}}
            <div class='card'>
                <div class="py-4 border-4 flex-wrap text-xl text-center ">
                <p>{{category}}</p>
                <p>{{brand}}</p>
                <p>{{type}}</p>
                <p>{{flavor}}</p>
                <p class="pt-4 underline">By {{user.username}}</p>
                </div>
            </div>
         {{/each}}
    </div>
</div>
{{!-- <div>
    {{#each wines as |wine|}}

    <p>{{wine.category}}</p>
    <p>{{wine.brand}}</p>
    <p>{{wine.type}}</p>
    <p>{{wine.flavor}}</p>
    <p>By {{user.username}}</p>

    {{/each}}
</div> --}}

<script src="/js/new-wine.js"></script>
<script src="/js/new-comment.js"></script>